.reveal h1 {
    font-size: 2.5em !important;
}

.reveal h2 {
    font-size: 2em !important;
}

.reveal h3 {
    font-size: 1em !important;
}

.reveal {
    font-size: 2em !important;
}

.reveal pre {
    background: rgba(255, 255, 255, 0.9) !important;
    width: 100% !important;
    clear: both;
}

@media screen {
    .reveal pre {
        width: 100% !important;
        box-shadow: none !important;
        background: rgba(255, 255, 255, 0.9) !important; 
        font-size: 1em !important;
        position: inherit !important;
    }

    .reveal pre code {
        max-height: 100% !important;
    }
}

.slide-background[data-background-hash] {
    filter: opacity(0.3) blur(5px);
}

.reveal .overlay {
    background: rgba(255, 255, 255, 0.95) !important;
}

.reveal .overlay header {
    background: rgba(0, 0, 0, 0.9) !important;
}
.x-frame-error {
    visibility: hidden;
}

.reveal ul,dl,ol,table {
    display: block !important;
    text-align: left;
}

@page {
    margin: 0;
    size: auto;
}

kbd {
    padding:0.1em 0.6em;
    border:1px solid #ccc;
    font-size:11px;
    font-family:Arial,Helvetica,sans-serif;
    background-color:#f7f7f7;
    color:#333;
    -moz-box-shadow:0 1px 0px rgba(0, 0, 0, 0.2),0 0 0 2px #ffffff inset;
    -webkit-box-shadow:0 1px 0px rgba(0, 0, 0, 0.2),0 0 0 2px #ffffff inset;
    box-shadow:0 1px 0px rgba(0, 0, 0, 0.2),0 0 0 2px #ffffff inset;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
    display:inline-block;
    margin:0 0.1em;
    text-shadow:0 1px 0 #fff;
    line-height:1.4;
    white-space:nowrap;
}

img {
    max-width: 500px !important;
    max-height: 500px !important;
    width: auto;
    height: auto;
}

small-img {
    max-width: 5px !important;
    max-height: 5px !important;
    width: 5px;
    height: 5px;
}

img[src*="small-img"] {
    width: 350px;
    height: 300px;
}

img[src*="larger-img"] {
    width: 600px;
    height: 600px;
}

.small {
    font-size: 60% !important;
}

.big {
    font-size: 1.5em !important;
}

.huge {
    font-size: 3em !important;
}

.important {
    color: darkred;
    text-decoration: underline;
}


.big-img, .big-img svg, .big-img img{
    max-height: 600px !important;
    max-width: 600px !important;
    height: auto !important;
    width: auto !important;
    float: none !important;
    padding: 10px !important;
}


figure > .big-img {
    max-height: 600px !important;
    max-width: 600px !important;
    height: auto !important;
    width: 600px !important;
    float: none !important;
    padding: 10px !important;
}

table {
    width: auto !important;
}

blockquote {
    width: 50% !important;
    margin: 20px !important;
}

blockquote > p {
    margin: 0 !important;
}

div.sourceCode {
    margin: 0 !important;
}
